@import '../styles/variables.scss';

.header {
  padding: 3.2rem 0;
  background: $turquoise;
  color: $white;
  height: 3.2rem * 5;
}

.container {
  max-width: 780px;
  margin: 0 auto;
}

.title {
  margin: 0 0 1rem;
  font-size: 6rem;
  color: $white;
}

.subtitle {
  margin: 0;
  font-size: 2rem;
  color: $white;
}
