@import '../styles/variables.scss';

.header {
  background: $turquoise;
  color: white;
  padding: 4rem 0;
}

.container {
  max-width: 780px;
  margin: 0 auto;
}

.title {
  font-size: 6rem;
}

.subtitle {
  font-size: 2rem;
}
