@import './variables.scss';

// CSS Reset / Normalise

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  color: $greyBody;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

// Font imports

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("/fonts/OpenSans-Regular.woff?v=1.1.0") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("/fonts/OpenSans-Italic.woff?v=1.1.0") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("/fonts/OpenSans-Bold.woff?v=1.1.0") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("/fonts/OpenSans-BoldItalic.woff?v=1.1.0") format("woff");
  font-weight: 700;
  font-style: italic;
}

// Typography

h1 {
  @include h1;
}
h2 {
  @include h2;
}
h3 {
  @include h3;
}
h4 {
  @include h4;
}
h5 {
  @include h5;
}
h6 {
  @include h6;
}

p {
  margin: 0 0 $vert-space;
  font-size: $font-size-default;
  line-height: $line-height-default;
  font-weight: 400;
}

li {
  font-size: $font-size-default;
  line-height: $line-height-default;
  font-weight: 400;
}

ul, ol {
  margin: 0 0 $vert-space;
  padding: 0 0 0 3rem;

  ul, ol {
    margin: 0;
    padding-left: 2.2rem;
  }
}

blockquote {
  background: #eee;
  padding: ($vert-space / 2) 3rem;
  margin: 0 0 $vert-space;
  border-left: 0.8rem solid #ccc;
  border-radius: 0.8rem;

  p:last-child {
    margin-bottom: 0;
  }
}

.remark-highlight {
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin: $vert-space 0;

  pre[class*="language-"] {
    border-radius: 0.8rem;
    padding-top: $vert-space / 2;
    padding-bottom: $vert-space / 2;
  }

  code[class*="language-"] {
    line-height: 3.2rem;
  }
}
